@charset "utf-8";

header nav a{display:inline;zoom:1;text-indent:0;}
header aside a{display:inline;zoom:1;text-indent:0;}
.main_content .cycle-pager span{display:inline;zoom:1;margin:5px 4px;text-indent:0;}
.adntell_section .step_list li{display:inline;zoom:1;text-indent:0;}
.personal_info_section .txt_article{white-space:pre;word-wrap:break-word;}
.personal_info_section .txt_article h3{margin-bottom:30px;}






