@charset "utf-8";
@import url('reset.css');

body{background:#f7f7f7;}
header{height:99px;background:#fff;}
.header_wrap{position:relative;width:1000px;margin:0 auto;}
header h1{position:absolute;left:19px;top:12px;width:200px;height:77px;background:url('../images/logo_on.png') no-repeat;}
header h1 a{display:block;width:100%;height:100%;text-indent:-9999px;}
header nav{position:absolute;left:260px;top:32px;}
header nav a{overflow:hidden;display:inline-block;height:22px;padding:14px 20px;text-indent:-9999px;color:transparent;}
header nav a.menu1{width:82px;background:url('../images/menu1_on.png') no-repeat center;}
header nav a.menu2{width:114px;background:url('../images/menu2_on.png') no-repeat center;}
header nav a.menu3{width:36px;background:url('../images/menu3_on.png') no-repeat center;}
header nav a.menu4{width:124px;background:url('../images/menu4_on.png') no-repeat center;}
header aside{position:absolute;right:0;top:0;padding-top:12px;padding-left:26px;background:url('../images/bg_sns_aside.gif') no-repeat left top;}
header aside a{overflow:hidden;display:inline-block;width:49px;height:49px;text-indent:-9999px;color:transparent;}
header aside a.sns_menu1{background:url('../images/sns1_on.png') no-repeat;}
header aside a.sns_menu2{background:url('../images/sns2_on.png') no-repeat;}
header aside a.sns_menu3{background:url('../images/sns3_on.png') no-repeat;}

header:hover{background:#ce4a90;}
header:hover h1{background:url('../images/logo_off.png') no-repeat;}
header:hover aside{background:url('../images/bg_sns_aside.png') no-repeat left top;}
header:hover nav a.menu1{background:url('../images/menu1_off.png') no-repeat center;}
header:hover nav a.menu2{background:url('../images/menu2_off.png') no-repeat center;}
header:hover nav a.menu3{background:url('../images/menu3_off.png') no-repeat center;}
header:hover nav a.menu4{background:url('../images/menu4_off.png') no-repeat center;}
header:hover nav a.menu1:hover{background:url('../images/menu1_on.png') no-repeat center;}
header:hover nav a.menu2:hover{background:url('../images/menu2_on.png') no-repeat center;}
header:hover nav a.menu3:hover{background:url('../images/menu3_on.png') no-repeat center;}
header:hover nav a.menu4:hover{background:url('../images/menu4_on.png') no-repeat center;}
header:hover aside a.sns_menu1{background:url('../images/sns1_off.png') no-repeat;}
header:hover aside a.sns_menu2{background:url('../images/sns2_off.png') no-repeat;}
header:hover aside a.sns_menu3{background:url('../images/sns3_off.png') no-repeat;}
header:hover aside a.sns_menu1:hover{background:url('../images/sns1_on.png') no-repeat;}
header:hover aside a.sns_menu2:hover{background:url('../images/sns2_on.png') no-repeat;}
header:hover aside a.sns_menu3:hover{background:url('../images/sns3_on.png') no-repeat;}

header.web_device:hover{background:#ce4a90;}
header.web_device:hover h1{background:url('../images/logo_off.png') no-repeat;}
header.web_device:hover aside{background:url('../images/bg_sns_aside.png') no-repeat left top;}
header.web_device:hover nav a.menu1{background:url('../images/menu1_off.png') no-repeat center;}
header.web_device:hover nav a.menu2{background:url('../images/menu2_off.png') no-repeat center;}
header.web_device:hover nav a.menu3{background:url('../images/menu3_off.png') no-repeat center;}
header.web_device:hover nav a.menu4{background:url('../images/menu4_off.png') no-repeat center;}
header.web_device:hover nav a.menu1:hover{background:url('../images/menu1_on.png') no-repeat center;}
header.web_device:hover nav a.menu2:hover{background:url('../images/menu2_on.png') no-repeat center;}
header.web_device:hover nav a.menu3:hover{background:url('../images/menu3_on.png') no-repeat center;}
header.web_device:hover nav a.menu4:hover{background:url('../images/menu4_on.png') no-repeat center;}
header.web_device:hover aside a.sns_menu1{background:url('../images/sns1_off.png') no-repeat;}
header.web_device:hover aside a.sns_menu2{background:url('../images/sns2_off.png') no-repeat;}
header.web_device:hover aside a.sns_menu1:hover{background:url('../images/sns1_on.png') no-repeat;}
header.web_device:hover aside a.sns_menu2:hover{background:url('../images/sns2_on.png') no-repeat;}
footer{height:139px;border-top:1px solid #dddddd;background:#f7f7f7;}
.footer_wrap{position:relative;width:1000px;margin:0 auto;}
footer .company_link{position:absolute;left:0;top:47px;}
footer aside{position:absolute;left:151px;top:20px;}
footer aside a:first-child{padding-right:13px;margin-right:12px;background:url('../images/bg_clause.gif') no-repeat right;}
footer address{position:absolute;left:150px;top:51px;font-size:11px;color:#757575;}
footer .copyright{position:absolute;left:150px;top:65px;font-size:11px;color:#757575;}

.container{padding-top:21px;background:#fff url('../images/bg_header.gif') repeat-x top;}
.content{width:1000px;margin:0 auto;}
.sub_title{position:relative;width:1000px;height:150px;background:url('../images/bg_sub_tit.jpg') no-repeat;}
.sub_title img{position:absolute;left:31px;top:80px;}
.main_content{position:relative;width:1000px;height:504px;margin-bottom:38px;}
.main_content .cycle-pager{z-index:101;text-align:center;position:absolute;left:50%;bottom:19px;width:80px;height:22px;margin-left:-40px;line-height:22px;background:url('../images/bg_maincon_nav.png') no-repeat;}
.main_content .cycle-pager span{overflow:hidden;display:inline-block;width:12px;height:12px;margin:0 4px;vertical-align:middle;text-indent:-9999px;color:transparent;cursor:pointer;background:url('../images/maincon_nav_off.png') no-repeat;}
.main_content .cycle-pager span.cycle-pager-active{background:url('../images/maincon_nav_on.png') no-repeat;}
.main_content button{overflow:hidden;z-index:101;position:absolute;top:397px;width:44px;height:44px;text-indent:9999px;}
.main_content button.btn_prev{left:0;background:url('../images/btn_prev_off.png') no-repeat;}
.main_content button.btn_next{right:0;background:url('../images/btn_next_off.png') no-repeat;}
.main_content button.btn_prev:hover{background:url('../images/btn_prev_on.png') no-repeat;}
.main_content button.btn_next:hover{background:url('../images/btn_next_on.png') no-repeat;}
.bottom_content{height:203px;}
.bottom_content .link_service{float:left;margin-right:110px;background:url('../images/bg_sms_article.gif') no-repeat 21px top;}
.bottom_content .link_service h2{margin-left:100px;margin-bottom:14px;}
.bottom_content .link_service p{margin-left:100px;margin-bottom:30px;}
.bottom_content .link_service .sms_box{margin-left:100px;}
.bottom_content .link_service .sms_box .inst_number{font-weight:bold;font-size:20px;color:#c1c1c1;width:222px;height:46px;line-height:46px;padding:0 12px;margin-right:8px;background:url('../images/bg_inst_number.gif') no-repeat;}
.bottom_content .app_store{float:left;}
.bottom_content .app_store h2{margin-bottom:20px;}
.bottom_content .app_store a{margin-right:10px;}
.bottom_content .app_store .caption{padding-top:9px;}
.adntell_section{padding-bottom:100px;}
.adntell_section .sub_title{margin-bottom:70px;}
.adntell_section .txt_con1{text-indent:-9999px;width:739px;height:62px;margin:0 0 72px 30px;background:url('../images/ad_txt_con1.gif') no-repeat;}
.adntell_section .txt_con2{text-indent:-9999px;width:748px;height:36px;margin:0 0 82px 30px;background:url('../images/ad_txt_con2.gif') no-repeat;}
.adntell_section .step_list{margin:0 0 50px 30px;}
.adntell_section .step_list li{display:inline-block;vertical-align:top;text-indent:-9999px;margin-right:3px;color:transparent;}
.adntell_section .step_list .step1{width:146px;height:160px;background:url('../images/ad_step_con1.gif') no-repeat;}
.adntell_section .step_list .step2{width:147px;height:160px;background:url('../images/ad_step_con2.gif') no-repeat;}
.adntell_section .step_list .step3{width:150px;height:161px;background:url('../images/ad_step_con3.gif') no-repeat;}
.adntell_section .step_list .step4{width:146px;height:144px;background:url('../images/ad_step_con4.gif') no-repeat;}
.adntell_section .step_list .step5{width:146px;height:144px;background:url('../images/ad_step_con5.gif') no-repeat;}
.adntell_section .step_list .step6{width:121px;height:144px;background:url('../images/ad_step_con6.gif') no-repeat;}
.adntell_section .map_content{width:998px;height:488px;border:1px solid #e2e2e2;}
.adntell_section .map_content .contactus_info{float:left;position:relative;width:269px;height:100%;background:url('../images/bg_contactus.gif') no-repeat;color:transparent;}
.adntell_section .map_content .contactus_info h3{text-indent:-9999px;}
.adntell_section .map_content .contactus_info .caption{text-indent:-9999px;}
.adntell_section .map_content .contactus_info address{position:absolute;left:20px;top:176px;font-size:18px;width:206px;color:transparent;}
.adntell_section .map_content .contactus_info .tell_con{position:absolute;left:60px;top:236px;font-size:18px;}
.adntell_section .map_content .contactus_info .email_con{position:absolute;left:60px;top:266px;font-size:18px;color:transparent;}
.adntell_section .map_content .contactus_info .trans_con{position:absolute;left:60px;top:304px;width:160px;font-size:14px;}
.adntell_section .map_content .map{float:left;}
.personal_info_section .txt_article{font-size:14px;line-height:1.8;color:#959595;white-space:pre-line;padding:68px 30px;}
.personal_info_section .txt_article h3{font-size:20px;color:#000;font-weight:bold;margin-bottom:20px;}
.personal_info_section .txt_article h4{font-size:14px;color:#555555;}
.service_section{padding-bottom:100px;}
.service_section article .txt_box{text-indent:-9999px;}
.service_section .movie_article{overflow:hidden;position:relative;height:385px;padding-top:69px;}
.service_section .movie_article .movie_box{float:left;width:560px;height:315px;margin-right:30px;}
.service_section .movie_article .txt_box{float:left;width:350px;height:324px;background:url('../images/service_con1.jpg') no-repeat;}
.service_section .service_article{position:relative;height:558px;border:1px solid #e2e2e2;}
.service_section .service_article1{border-bottom:0;background:url('../images/service_con3.jpg') no-repeat 663px 70px;}
.service_section .service_article2{background:url('../images/service_con5.jpg') no-repeat 700px 70px;}
.service_section .service_article .tit_box{text-indent:-9999px;width:500px;height:100px;margin:-1px 0 0 -1px;}
.service_section .service_article1 .tit_box{background:url('../images/h3_service1.gif') no-repeat;}
.service_section .service_article2 .tit_box{background:url('../images/h3_service2.gif') no-repeat;}
.service_section .service_article1 .txt_box{width:563px;height:355px;padding:44px 0 0 29px;background:url('../images/service_con2.jpg') no-repeat right bottom;}
.service_section .service_article2 .txt_box{width:456px;height:220px;padding:153px 0 0 29px;background:url('../images/service_con4.jpg') no-repeat right bottom;}
.show_section{padding-bottom:100px;}
.show_section .sub_title{margin-bottom:69px;}
.show_section .show_tabmenu{}
.show_section .show_tabmenu .show_tabtit{float:left;width:166px;height:54px;margin-right:1px;}
.show_section .show_tabmenu .show_tabtit1{background:url('../images/show_tabmenu1_off.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit2{background:url('../images/show_tabmenu2_off.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit3{background:url('../images/show_tabmenu3_off.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit4{background:url('../images/show_tabmenu4_off.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit5{background:url('../images/show_tabmenu5_off.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit6{background:url('../images/show_tabmenu6_off.gif') no-repeat;width:165px;margin:0;}
.show_section .show_tabmenu .show_tabtit1.on{background:url('../images/show_tabmenu1_on.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit2.on{background:url('../images/show_tabmenu2_on.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit3.on{background:url('../images/show_tabmenu3_on.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit4.on{background:url('../images/show_tabmenu4_on.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit5.on{background:url('../images/show_tabmenu5_on.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit6.on{background:url('../images/show_tabmenu6_on.gif') no-repeat;}
.show_section .show_tabmenu .show_tabtit button{text-indent:-9999px;display:block;width:100%;height:100%;outline:none;}
.show_section .show_tabmenu .show_tabcontent{clear:both;min-height:690px;padding-top:50px;}
.show_section .show_tabmenu .show_tabcontent .show_list{overflow:hidden;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con{float:left;text-align:center;width:176px;height:358px;margin:0 12px;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con a:hover{color:#898989;text-decoration:none;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_post{position:relative;padding:4px;margin-bottom:9px;border:1px solid #dddddd;background:#f7f7f7;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_post img{width:166px;height:218px;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_post .mask{display:none;position:absolute;left:4px;top:4px;width:166px;height:218px;background:black;opacity:0.2;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con:hover .show_post .mask{display:block;}

.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_tit{overflow:hidden;font-weight:bold;color:#3b3b3b;height:44px;margin-bottom:6px;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_caption{color:#898989;padding-top:6px;border-top:1px dotted #dddddd;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_date{margin-bottom:4px;}
.show_section .show_tabmenu .show_tabcontent .show_list .show_con .show_address{overflow:hidden;height:30px;}


.popup_layer{display:none;z-index:101;position:fixed;left:50%;top:50%;width:800px;height:560px;margin:-300px 0 0 -400px;background:url('../images/bg_popup_main.jpg') no-repeat;}
.popup_layer .btn_close{position:absolute;right:14px;top:14px;width:40px;}
.popup_layer .ch_box{position:absolute;right:20px;bottom:10px;}
.popup_layer .ch_box img,.popup_layer .ch_box label,.popup_layer .ch_box input{vertical-align:middle;}
.popup_layer .ch_box label{font-size:13px;color:#000;margin-left:4px;}
.popup_layer .ch_box img{margin-left:8px;}


.loading_con{display:none;position:fixed;left:50%;top:50%;width:200px;height:100px;margin:-50px 0 0 -100px;background:#fff;text-align:center;line-height:100px;border-radius:5px;border:2px solid #ccc;}
.loading_con img{vertical-align:middle;}

/* 모바일 사이즈 */
/*
@media screen and (max-width: 1000px) {

header{height:80px;}
header h1{left:10px;top:4px;width:100px;height:35px;background:url('../images/logo_on.png') no-repeat;background-size:100%;}
header h1 a{display:block;width:100%;height:100%;text-indent:-9999px;}
header nav{white-space:nowrap;position:static;min-width:320px;padding-top:45px;text-align:center;}
header nav a{overflow:hidden;display:inline-block;width:33%;height:30px;padding:0;text-indent:-9999px;color:transparent;}
header nav a.menu1{display:none;}
header nav a.menu2{width:32%;background:url('../images/menu2_on.png') no-repeat center;background-size:auto 18px;}
header nav a.menu3{width:32%;background:url('../images/menu3_on.png') no-repeat center;background-size:auto 18px;}
header nav a.menu4{width:32%;background:url('../images/menu4_on.png') no-repeat center;background-size:auto 18px;}
header aside{padding:0;right:10px;top:8px;background:none;}
header aside a{overflow:hidden;display:inline-block;width:32px;height:32px;text-indent:-9999px;color:transparent;}
header aside a.sns_menu1{background:url('../images/sns1_on.png') no-repeat center top;}
header aside a.sns_menu2{background:url('../images/sns2_on.png') no-repeat center top;}
.header_wrap{width:100%;}
.content{width:100%;}
.popup_layer{width:100%;height:auto;margin:0;left:0;top:0;background:none;}
.popup_layer .bg_img{width:100%;}
.popup_layer .ch_box{position:absolute;right:10px;bottom:6px;}
.popup_layer .ch_box label{font-weight:bold;font-size:14px;color:#000;margin-left:4px;text-shadow:1px 1px 0px #fff;}

.main_content{position:relative;width:100%;height:auto;margin-bottom:38px;}
.main_content .cycle-slide{width:100%;}

.main_content .cycle-pager{z-index:101;text-align:center;position:absolute;left:50%;bottom:19px;width:80px;height:22px;margin-left:-40px;line-height:22px;background:url('../images/bg_maincon_nav.png') no-repeat;}
.main_content .cycle-pager span{overflow:hidden;display:inline-block;width:12px;height:12px;margin:0 4px;vertical-align:middle;text-indent:-9999px;color:transparent;cursor:pointer;background:url('../images/maincon_nav_off.png') no-repeat;}
.main_content .cycle-pager span.cycle-pager-active{background:url('../images/maincon_nav_on.png') no-repeat;}
.main_content button{overflow:hidden;z-index:101;position:absolute;top:397px;width:44px;height:44px;text-indent:9999px;}
.main_content button.btn_prev{left:0;background:url('../images/btn_prev_off.png') no-repeat;}
.main_content button.btn_next{right:0;background:url('../images/btn_next_off.png') no-repeat;}
.main_content button.btn_prev:hover{background:url('../images/btn_prev_on.png') no-repeat;}
.main_content button.btn_next:hover{background:url('../images/btn_next_on.png') no-repeat;}
.bottom_content{height:203px;}
.bottom_content .link_service{float:left;margin-right:110px;background:url('../images/bg_sms_article.gif') no-repeat 21px top;}
.bottom_content .link_service h2{margin-left:100px;margin-bottom:14px;}
.bottom_content .link_service p{margin-left:100px;margin-bottom:30px;}
.bottom_content .link_service .sms_box{margin-left:100px;}
.bottom_content .link_service .sms_box .inst_number{font-weight:bold;font-size:20px;color:#c1c1c1;width:222px;height:46px;line-height:46px;padding:0 12px;margin-right:8px;background:url('../images/bg_inst_number.gif') no-repeat;}
.bottom_content .app_store{float:left;}
.bottom_content .app_store h2{margin-bottom:20px;}
.bottom_content .app_store a{margin-right:10px;}
.bottom_content .app_store .caption{padding-top:9px;}

}
*/
