@charset "utf-8";

@import url(/asset/css/common.css);

.wrap {position: relative;width:100vw;height: 100vh;
	background-color: #888;
	background-image: 
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444),
	linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
	background-position: 0 0, 100px 100px;
	background-size: 200px 200px;
}
.character {position: absolute;width:100px;height:100px;}
.hero {background-color: blue;}
.enemy {background-color: red;}