@charset "utf-8";

/* reset */
*{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,input,button{font-family:'Europa', 'Arial', sans-serif;font-size:13px;letter-spacing: -0.035em}
li{list-style: none}
fieldset,img{border:0}
button{border:0;background:none;cursor: pointer;outline:none}
img{vertical-align:top}
a{text-decoration:none}
hr{display: none}
.clearfix{*zoom:1}
.clearfix::after{content: '';display: block;clear: both}


/* style */
html,body{position: relative;width:100%;height: 100%;overflow: hidden;}
/* wrap */
.wrapper{position: fixed;left:0;top:0;width:100%;height: 100%;opacity:0;}
.basic_ui_set{opacity:0;}

.desktop{display:block;width:100%;height:100%;}
.desktop_el{display:block;}
.tablet_el{display:none}
.mobile{display:none}

/* util_menu */
.home{position: absolute;top: 1.85%;right:4.04%;z-index: 12;}
.home a{width:221px;height:50px;background:url(../images/btn_go_home.png) no-repeat 0 0/cover;display:block;}
.isDesktop .home a:hover{background-position: 0 -50px}

/* chapter_menu */
.chapter_menu{display:none;position: absolute;top: 2.77%;left:1.96%;padding:18px 0 18px;z-index: 12;height:135px;box-sizing: border-box;display:none;position: absolute}
.chapter_menu{display:none;position: relative;top:2.77%;left:1.96%;padding:18px 0 18px;z-index:12;height:135px;box-align: }
.chapter_menu:before{position:absolute;content:'';top:0;left:0;width:1px;height:100%;background:rgba(255,255,255,0.3)}
.chapter_menu .btn_chapter_change{display: block;margin-bottom:29px;height:14px;overflow: hidden;text-indent: -400px;padding-left:40px;position: relative;box-sizing: content-box;}
.chapter_menu .btn_chapter_change1{width:70px;background: url(../images/kv_menu_chap1.png) no-repeat 40px 0;}
.chapter_menu .btn_chapter_change2{width:183px;background: url(../images/kv_menu_chap2.png) no-repeat 40px 0;}
.chapter_menu .btn_chapter_change3{width:112px;background: url(../images/kv_menu_chap3.png) no-repeat 40px 0;margin-bottom:0;}
.chapter_menu .btn_chapter_change.on{background-position-y:-14px;}
.chapter_menu .btn_chapter_change.on:before{position:absolute;content:'';top:0;left:0;width:1px;height:100%;background:rgba(255,255,255,1)}


/* kv */
.kv{position: absolute;top:0;height:100%;width:33.3%;z-index: 15;}
.kv .btn_kv{display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index: 2;cursor: pointer;}
.kv .kv_bg{width:100.1%;height:100%;position: absolute;left:0;top:0;}
.kv .logo{display:none;width:271px;}
.kv .logo a{display:block}
.kv .logo a img{width:100%}
.kv .kv_text_area{position: absolute;top:100%;left:60px;}
.kv .kv_text_area{position: absolute;top:100%;left:60px;}
.kv .kv_text_area .kv_number{display:block;margin-bottom:50px}
.kv .kv_text_area .kv_title{margin-left:18px}
.kv .chapter_container{position:relative;  top:100%;opacity:0; /*top:0;*/ width:100%;padding-bottom:120px;}
.kv .dim{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);opacity:0;transition:opacity 0.4s;}
.kv.not_hover .dim{opacity: 1;}

.kv .btn_cont{display:none;width:100%;height: 478px;position: absolute;top: 50%;left:0;transform:translateY(-50%);text-align: center;}
.isDesktop .kv .btn_cont:hover span{display:block;}
.kv .btn_cont span{display:block;margin-bottom:21px;}
.kv .btn_cont p{display: inline;}
.kv .icon_scroll{display:none;position:absolute;top:88.98%;left:50%;transform:translateX(-50%);width:50px;}
.kv .icon_scroll img{width:100%}
.kv.active{z-index: 13;}
.kv.active .kv_bg{position: fixed;}
.kv.active .kv_bg .logo{display:block;position: absolute;top: 3.72%;left: 16.16%;z-index: 1;}
.intro_end .btn_kv{cursor: pointer;}

/* kv_wrapper */
.kv_wrapper{z-index: 20;}
.kv_wrapper .chapter1{left:0}
.kv_wrapper .chapter1 .kv_bg{background:url(../images/kv_bg1.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter1 .kv_bg_active{background:url(../images/kv_full_bg1.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter1 .kv_text_full_area{display:none;position: absolute;top: 50%;transform: translateY(61px);width:100%;text-align:center}
.kv_wrapper .chapter1 .kv_text_full_area h2 span{display:block;margin-bottom:20px}

.kv_wrapper .chapter2{left:33.3%;}
.kv_wrapper .chapter2 .kv_bg{background:url(../images/kv_bg2.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter2 .kv_bg_active{background:url(../images/kv_full_bg2.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter2 .kv_text_full_area{display:none;position:absolute;top:35%;width:100%;text-align:center}
.kv_wrapper .chapter2 .kv_text_full_area p{display: inline-block;}

.kv_wrapper .chapter3{left:66.6%;width:33.4%}
.kv_wrapper .chapter3 .kv_bg{background:url(../images/kv_bg3.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter3 .kv_bg_active{background:url(../images/kv_full_bg3.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter3 .kv_text_full_area{display:none;position:absolute;top:50%;;width:100%;text-align:center;transform:translateY(-77px)}
.kv_wrapper .chapter3 .kv_text_full_area h2{margin-bottom:57px}
.kv_wrapper .chapter3 .kv_text_full_area p img{margin:0 auto}

/* chapter_wrapper */
.chapter_wrapper{z-index: 11;}

section.sec{width:100%;height: 100%;position: absolute;left:0;top:0;overflow: hidden;background: #fff;}
.section1{z-index: 9;}
.section2{z-index: 8;}
.section3{z-index: 7;}
.section4{z-index: 6;}
.section5{z-index: 5;}

/* popup */

.background_layer{display:none;position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.6);z-index: 14;}
.popup_layer{display:none;position: fixed;top: 0;left: 0;z-index: 15;width:100%;height:100%;}
.popup_layer .popup_video{width:1000px;height:562px;text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.popup_layer .close_popup{position: absolute;left:100%;top:0;width:44px;height:44px;cursor:pointer;}
.popup_layer .close_popup:before{position: absolute;content:'';display: block;left: 2%;top:50%;width:100%;height:2px;background: rgba(255,255,255,0.8);transform: rotate(-45deg);}
.popup_layer .close_popup:after{position: absolute;content:'';display: block;left: 2%;top:50%;width:100%;height:2px;background: rgba(255,255,255,0.8);transform: rotate(45deg);}
.popup_layer iframe{width:100%;height:100%;}

/* chapter_wrapper1 */
.chapter_wrapper1 .section1 .background_video .video_wrap{background:url(../images/tablet/AO_site_01_cont1_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper1 .section1 .background_video .video_wrap .dim{position: absolute;width: 100%;height: 100%;background: #000;opacity: 0.5;}
.chapter_wrapper1 .section1 .background_video .video_wrap video{position: absolute;left:0;top:0;}
.chapter_wrapper1 .section1 .background_video .video_wrap video.horizontal{height:100%;width:auto;left:50%;transform: translateX(-50%);}
.chapter_wrapper1 .section1 .background_video .video_wrap video.vertical{width:100%;height:auto;top:50%;transform: translateY(-50%);}
.chapter_wrapper1 .section1 .text_area{position: absolute;top:23.33%;left: 50%;transform:translateX(-50%);}
.chapter_wrapper1 .section1 .text_area h3{margin-bottom:40px;text-align:center}
.chapter_wrapper1 .section1 .text_area p{text-align:center}
.chapter_wrapper1 .section1 .btn_popup{position: absolute;top:50%;left:50%;transform:translate(-50%, 89px);width:380px;text-align: center;}
.chapter_wrapper1 .section1 .btn_popup .btn_play{cursor:pointer;}
.chapter_wrapper1 .section2 .bg{height:100%;background:url(../images/AO_site_01_cont1_bg2.jpg) no-repeat 0 0/cover;}
.chapter_wrapper1 .section2 .text_area{position: absolute;top: 18.5%;;left:50%;transform: translateX(-50%);}
.chapter_wrapper1 .section2 .text_area h3{text-align:center}
.chapter_wrapper1 .section2 .quiz_area{position: absolute;top: 42.4%;width:100%}
.chapter_wrapper1 .section2 .quiz_area>p{margin-bottom:60px;text-align:center}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list{*zoom:1;width:1280px;margin:0 auto}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list::after{content:'';display:block;clear:both}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li{float:left;position:relative;height:400px;margin-right:40px;background:#fff}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li:last-child{margin-right:0}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a{display:block;width: 100%;height: 100%;cursor: pointer;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a .quiz_img{position: relative;overflow: hidden;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a .quiz_img>img{transition: transform 0.4s;}

.isDesktop .chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a:hover .quiz_img>img{transform: scale(1.2, 1.2);}

.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a .quiz_img .btn_play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a>p{position:absolute;padding-top:29px;left:29px;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a span{display:inline-block;position:absolute;bottom:20px;right:20px}
.chapter_wrapper1 .section3 .bg{height:100%;background:url(../images/AO_site_01_cont1_bg3.jpg) no-repeat 0 0/cover}
.chapter_wrapper1 .section3 .text_area{position:absolute;top: 34.72%;left: 16.16%;}
.chapter_wrapper1 .section3 .text_area span{display:block;margin-bottom:24px}
.chapter_wrapper1 .section3 .text_area .tit{margin-bottom:52px}
.chapter_wrapper1 .section3 .text_area .tit img{width:22.39vw;}
.chapter_wrapper1 .section3 .text_area a img{width:10.41vw;}
.chapter_wrapper1 .section3 .car{position: absolute;top: 37%;left:33.28%;}
.chapter_wrapper1 .section3 .car img{width:53.95vw;}

/* chapter_wrapper2 */
.chapter_wrapper2{position: relative;}
.chapter_wrapper2 .section1 .background_video .video_wrap{background:url(../images/tablet/AO_site_01_cont2_bg_t.jpg) no-repeat 0 0/cover;}
.chapter_wrapper2 .section1 .background_video .video_wrap .dim{position: absolute;width: 100%;height: 100%;background: #000;opacity: 0.75;}
.chapter_wrapper2 .section1 .background_video .video_wrap video{position: absolute;left:0;top:0;}
.chapter_wrapper2 .section1 .background_video .video_wrap video.horizontal{height:100%;width:auto;left:50%;transform: translateX(-50%);}
.chapter_wrapper2 .section1 .background_video .video_wrap video.vertical{width:100%;height:auto;top:50%;transform: translateY(-50%);}
.chapter_wrapper2 .section1 .bg{height:100%;}
.chapter_wrapper2 .section1 .text_area{position:absolute;left:50%;top:50%;transform:translateY(-50%)}
.chapter_wrapper2 .section1 .text_area h3{margin-bottom:50px}
.chapter_wrapper2 .section1 .btn_popup{position:absolute;top:40.74%;left:22.27%;}
.chapter_wrapper2 .section1 .btn_popup .btn_play{width:340px;height:200px;cursor: pointer;}

.chapter_wrapper2 .section2 .bg{height:100%;background:url(../images/AO_site_02_cont1_bg.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section2 .text_area{position: absolute;top:50%;left: 16.16%;transform:translateY(-50%)}
.chapter_wrapper2 .section2 .text_area h3{margin-bottom:51px}

.chapter_wrapper2 .section3 .bg{height:100%;background:url(../images/AO_site_02_cont3_bg.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section3 .text_area{position:absolute;top:50%;left:50%;transform:translateY(-50%)}
.chapter_wrapper2 .section3 .text_area h3{margin-bottom:50px}
.chapter_wrapper2 .section3 .text_area p.description1{margin-bottom:46px}
.chapter_wrapper2 .section3 .text_area p.description2{margin-bottom:35px}
.chapter_wrapper2 .section3 .btn_popup{position: absolute;top: 44.91%;left: 68.7%;width:94px;height:112px}
.chapter_wrapper2 .section3 .btn_popup .btn_play{cursor: pointer;}
.chapter_wrapper2 .section3 .btn_popup .btn_play img{width:100%}

.chapter_wrapper2 .section4{background:#fff}
.chapter_wrapper2 .section4 .bg{height:100%;background:url(../images/AO_site_02_cont4_bg.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section4 .text_area{position: absolute;top:34.63%;left:16.16%}
.chapter_wrapper2 .section4 .text_area h3{margin-bottom:50px}
.chapter_wrapper2 .section4 .swiper-container .swiper-slide{position:relative;}

.chapter_wrapper2 .section5 .background_video .video_wrap{background:url(../images/tablet/AO_site_01_cont2_bg_t.jpg) no-repeat 0 0/cover;}
.chapter_wrapper2 .section5 .background_video .video_wrap .dim{position: absolute;width: 100%;height: 100%;background: #000;opacity: 0.5;}
.chapter_wrapper2 .section5 .background_video .video_wrap video{position: absolute;left:0;top:0;}
.chapter_wrapper2 .section5 .background_video .video_wrap video.horizontal{height:100%;width:auto;left:50%;transform: translateX(-50%);}
.chapter_wrapper2 .section5 .background_video .video_wrap video.vertical{width:100%;height:auto;top:50%;transform: translateY(-50%);}
.chapter_wrapper2 .section5 .bg{height:100%;background:url(../images/AO_site_02_cont5_bg.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section5 .text_area{position:absolute;top:50%;left: 49.94%;transform:translateY(-50%)}
.chapter_wrapper2 .section5 .text_area h3{margin-bottom:50px}
.chapter_wrapper2 .section5 .text_area p.description1{margin-bottom:46px}
.chapter_wrapper2 .section5 .text_area p.description2{margin-bottom:35px}
.chapter_wrapper2 .section5 .btn_popup{position:absolute;top:40.74%;left:22.27%;}
.chapter_wrapper2 .section5 .btn_popup .btn_play{width:340px;height:200px;cursor: pointer;}
.chapter_wrapper2 .section5 .btn_popup .btn_play img{width:100%}

/* chapter_wrapper3 */
.chapter_wrapper3 .swiper-wrapper{width:300%;}
.chapter_wrapper3 .section1 .bg{background:url(../images/AO_site_03_cont1_bg1.jpg) no-repeat 0 0/cover;height:100%;background-size:cover}
.chapter_wrapper3 .section1 .text_area{position:absolute;;top:50%;left:50%;transform:translateY(-50%)}
.chapter_wrapper3 .section1 .text_area h3{margin-bottom:51px}
.chapter_wrapper3 .section2 .bg{background:url(../images/AO_site_03_cont1_bg2.jpg) no-repeat 0 0/cover;height:100%;background-size:cover}
.chapter_wrapper3 .section2 .text_area{position:absolute;top:50%;left:18%;transform:translateY(-50%)}
.chapter_wrapper3 .section2 .text_area h3{margin-bottom:51px}
.chapter_wrapper3 .section3 .bg{background:url(../images/AO_site_03_cont1_bg3.jpg) no-repeat 0 0/cover;height:100%;}
.chapter_wrapper3 .section3 .text_area{position:absolute;top:50%;left:50%;transform:translateY(-50%)}
.chapter_wrapper3 .section3 .text_area h3{margin-bottom:51px}

/* indicator */
.indicator_wrap{position: absolute;top:0;right: 1.6%;width:15px;height:100%;z-index: 10;}
.indicator_wrap .page_line{position: absolute;top: 0;left:7px;width: 1px;height:100%;background:#fff;opacity: 0.3;} 
.indicator{position: absolute;top: 50%;left:0;transform: translateY(-50%);}
.indicator li{position:relative;background: #fff;width: 15px;height: 15px;border-radius: 50%;margin-bottom: 40px;cursor: pointer;}
.indicator li.on{border: 3px solid #fff;background:#0090d7;box-sizing: border-box;}
.indicator li:last-child{margin-bottom:0}
.indicator li img{display:none;}
.indicator li.on img{display:block;position: absolute;right:53px}
.indicator li.on::before{content: '';padding-left: -13px;width: 33px;height: 1px;background: #fff;position: absolute;top: 50%;left: -33px;}

.isDesktop .indicator li:hover{border: 3px solid #fff;background:#0090d7;box-sizing: border-box;}
.isDesktop .indicator li:hover img{display:block;position: absolute;right:53px}
.isDesktop .indicator li:hover::before{content: '';padding-left: -13px;width: 33px;height: 1px;background: #fff;position: absolute;top: 50%;left: -33px;}
.isTablet .indicator li.on::before{display: none;}
.isTablet .indicator li img{display: none;}
.isMobile .indicator li.on::before{display: none;}
.isMobile .indicator li img{display: none;}

/* footer */
footer{position: absolute;top: 3.61%;left:4.04%;z-index: 12;width: 100%;}
footer h1{display: inline-block;margin-right: 14px;vertical-align: middle;}
footer h1 a{display:block}
footer p{display: inline-block;vertical-align: middle;}

/* top button */
.btn_top{position: absolute;top:89.81%;left: 50%;transform: translateX(-50%);z-index:12;}

.swiper_load_box{position: absolute;left:0;top:0;width:100%;height:3px;background:rgba(255,255,255,0.3);}
.swiper_load_box .load_bar{position: absolute;left:0;top:0;width:0;height:3px;background:#0090d7;}

/* btn_chapter */
.btn_chapter_arrow{position: absolute;top: 90.74%;z-index: 12;width:70px;height:70px;}
.btn_chapter_arrow.btn_chapter_prev{left: 4.04%;background:url(../images/btn_prev.png) no-repeat 0 0/100%;}
.btn_chapter_arrow.btn_chapter_next{right: 4.04%;background:url(../images/btn_next.png) no-repeat 0 0/100%}
.isDesktop .btn_chapter_arrow:hover{background-position-y:-70px}
.btn_chapter_arrow img{position: absolute;top:27px;display: none;}
.btn_chapter_next img{right:120%;}
.btn_chapter_prev img{left:120%;}

@media (max-width:1366px) and (min-width:1025px){
	.kv .kv_text_area .kv_title img{width:100%}
	.kv_wrapper .chapter1 .kv_text_area .kv_title{width: 16.79vw;height: 5.27vw;}
	.kv_wrapper .chapter2 .kv_text_area .kv_title{width: 25.29vw;height: 5.07vw;}
	.kv_wrapper .chapter3 .kv_text_area .kv_title{width:22.07vw;height: 5.07vw;}
	.isDesktop .chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a:hover .quiz_img>img{transform: scale(1, 1);}
}
@media (max-width:1024px) and (min-width:769px){

.desktop_el{display:none}
.tablet_el{display:block}
.mobile{display:none}

/* util_menu */
.home{ right:7.32%;top:3.99%;}
.home a{width:18vw;height:4.1vw;}

.kv .kv_bg{background-position:center !important}
.kv .logo{width:20vw;}
.kv .kv_text_area{top:100%;left: 7.73%;}
.kv .kv_text_area .kv_number{margin-bottom: 2.93vw;}
.kv .kv_text_area .kv_number img{width:100%}
.kv .kv_text_area .kv_title{margin-left:1.75vw;}
.kv .kv_text_area .kv_title img{width:100%}
.kv .btn_cont{height: 46.68vw;}
.kv .btn_cont p{top:56px;}
.kv .icon_scroll{top: 82%;width:4vw;}

/* kv_wrapper */
.kv_wrapper .chapter1 .kv_bg{background:url(../images/tablet/kv_bg1_t.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter1 .kv_bg_active{background-position: center center !important}
.kv_wrapper .chapter1 .kv_text_area .kv_number{width: 7.61vw;height: 4.29vw;}
.kv_wrapper .chapter1 .kv_text_area .kv_title{width: 16.79vw;height: 5.27vw;}
.kv_wrapper .chapter1 .kv_text_full_area{top: 42%;width:100%;text-align:center}
.kv_wrapper .chapter1 .kv_text_full_area h2 span{width: 43vw;margin: 0 auto 1.95vw;}
.kv_wrapper .chapter1 .kv_text_full_area h2 span img{width:100%;}
.kv_wrapper .chapter1 .kv_text_full_area h2>img{width: 42vw;}

.kv_wrapper .chapter2{left:33.3%;}
.kv_wrapper .chapter2 .kv_bg{background:url(../images/tablet/kv_bg2_t.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter2 .kv_bg_active{background:url(../images/tablet/kv_full_bg2_t.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter2 .kv_text_area .kv_number{width: 8.69vw;height: 4.29vw;}
.kv_wrapper .chapter2 .kv_text_area .kv_title{width: 25.29vw;height: 5.07vw;}
.kv_wrapper .chapter2 .kv_text_area .kv_title img{width:100%;}
.kv_wrapper .chapter2 .kv_text_full_area h2{width: 69.43vw;margin: 0 auto;}
.kv_wrapper .chapter2 .kv_text_full_area h2>img{width:100%}
.kv_wrapper .chapter3{left:66.6%;width:33.4%}
.kv_wrapper .chapter3 .kv_bg{background:url(../images/tablet/kv_bg3_t.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter3 .kv_bg_active{background:url(../images/tablet/kv_full_bg3_t.jpg) no-repeat 0 0/cover}
.kv_wrapper .chapter3 .kv_text_area .kv_number{width: 8.69vw;height: 4.29vw;}
.kv_wrapper .chapter3 .kv_text_area .kv_title{width:22.07vw;height: 5.07vw;}
.kv_wrapper .chapter3 .kv_text_full_area{top:44.92%;}
.kv_wrapper .chapter3 .kv_text_full_area h2{width: 61.32vw;height: 12.1vw;margin: 0 auto 1.85vw;}
.kv_wrapper .chapter3 .kv_text_full_area h2>img{width:100%;}
.kv_wrapper .chapter3 .kv_text_full_area p img{margin:0 auto}

/* chapter_wrapper1 */
.chapter_wrapper1 .section1 .bg{height:100%;background:url(../images/tablet/AO_site_01_cont1_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper1 .section1 .text_area{top:21.22%}
.chapter_wrapper1 .section1 .text_area h3{margin-bottom:3.7vw;}
.chapter_wrapper1 .section1 .text_area h3 img{width: 38vw;}
.chapter_wrapper1 .section1 .text_area p{text-align:center;}
.chapter_wrapper1 .section1 .text_area p img{width: 46vw;}
.chapter_wrapper1 .section1 .btn_popup{top:44%;width:240px;}
.chapter_wrapper1 .section1 .btn_popup .btn_play img{width:20vw;}
.chapter_wrapper1 .section2 .bg{background:url(../images/tablet/AO_site_01_cont2_bg_t.jpg) no-repeat 0 0/cover;}
.chapter_wrapper1 .section2 .text_area{top: 20%;}
.chapter_wrapper1 .section2 .text_area h3{width: 50vw;margin: 0 auto;}
.chapter_wrapper1 .section2 .text_area h3 img{width:100%}
.chapter_wrapper1 .section2 .text_area p img{width:70vw;}
.chapter_wrapper1 .section2 .quiz_area{top:42%;width:100%}
.chapter_wrapper1 .section2 .quiz_area>p{margin-bottom:60px;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list{width: 100%;text-align: center;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li{height: 100px;width: 34vw;margin:0 0 1.95vw 1.95vw;float: none;display: inline-block;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a>p{padding-top: 20px;left: 120px;top: 0;width:55%;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a>p img{max-width:100%;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a span{width: 4.4vw;height: 2.92vw;}
.chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a span img{width:100%}
.isDesktop .chapter_wrapper1 .section2 .quiz_area .quiz_box .quiz_list li a:hover .quiz_img>img{transform: scale(1, 1);}
.chapter_wrapper1 .section3 .bg{background:url(../images/tablet/AO_site_01_cont1_bg3_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper1 .section3 .text_area{top: 27.86%;left: 14.84%;}
.chapter_wrapper1 .section3 .text_area span{margin-bottom:24px}
.chapter_wrapper1 .section3 .text_area .tit{margin-bottom:52px}
.chapter_wrapper1 .section3 .text_area .tit img{width:42.28vw;}
.chapter_wrapper1 .section3 .text_area a img{width:19.52vw;}
.chapter_wrapper1 .section3 .car{left:26.57%;top:44%;}
.chapter_wrapper1 .section3 .car img{width:61.52vw;}

/* chapter_wrapper2 */
.chapter_wrapper2 .section1 .bg{background:url(../images/tablet/AO_site_02_cont1_bg_t.jpg) no-repeat 0 0/cover;}
.chapter_wrapper2 .section1 .text_area{left: 50%;}
.chapter_wrapper2 .section1 .text_area h3{width: 27.24vw;margin-bottom: 3.9vw;}
.chapter_wrapper2 .section1 .text_area h3 img{width:100%}
.chapter_wrapper2 .section1 .btn_popup{width: 23.43vw;height: 14.64vw;top: 32%;left: 20.7%;}
.chapter_wrapper2 .section1 .btn_popup .btn_play{width:100%;height: 100%;}
.chapter_wrapper2 .section2 .bg{height:100%;background:url(../images/tablet/AO_site_02_cont2_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section2 .text_area{left: 14.84%;}
.chapter_wrapper2 .section2 .text_area h3{width: 33.88vw;margin-bottom: 3.7vw;}
.chapter_wrapper2 .section2 .text_area h3 img{width:100%}
.chapter_wrapper2 .section3 .bg{height:100%;background:url(../images/tablet/AO_site_02_cont3_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section3 .text_area{left: 50%;}
.chapter_wrapper2 .section3 .text_area h3{width: 32.12vw;margin-bottom: 3.8vw;}
.chapter_wrapper2 .section3 .text_area h3 img{width:100%}
.chapter_wrapper2 .section4 .bg{height:100%;background:url(../images/tablet/AO_site_02_cont4_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section4 .text_area{left: 14.84%;top:23.82%}
.chapter_wrapper2 .section4 .text_area h3{width:32.52vw;margin-bottom:3.9vw}
.chapter_wrapper2 .section4 .text_area h3 img{width:100%;}
.chapter_wrapper2 .section5 .bg{height:100%;background:url(../images/tablet/AO_site_02_cont5_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper2 .section5 .text_area{left:50%;}
.chapter_wrapper2 .section5 .text_area h3{width:35.84vw;margin-bottom:2vw}
.chapter_wrapper2 .section5 .text_area h3 img{width:100%}
.chapter_wrapper2 .section5 .btn_popup{top:36%;left:20.7%;width: 23.43vw;height: 14.64vw;}
.chapter_wrapper2 .section5 .btn_popup .btn_play{width:100%;height: 100%;}

/* chapter_wrapper3 */
.chapter_wrapper3 .section1 .bg{height:100%;background:url(../images/tablet/AO_site_03_cont1_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper3 .section1 .text_area{position:absolute;left:50%;transform:translate(-50%, -50%);}
.chapter_wrapper3 .section1 .text_area h3{margin-bottom:5vw;text-align: center;}
.chapter_wrapper3 .section1 .text_area h3 img{width:48.82vw;margin:0 auto;}
.chapter_wrapper3 .section1 .text_area p img{width:63vw;margin:0 auto;}
.chapter_wrapper3 .section2 .bg{height:100%;background:url(../images/tablet/AO_site_03_cont2_bg_t.jpg) no-repeat 0 0/cover;}
.chapter_wrapper3 .section2 .text_area{left: 14.84%;}

.chapter_wrapper3 .section2 .text_area h3{margin-bottom: 3.8vw;}
.chapter_wrapper3 .section2 .text_area h3 img{width: 28vw;}
.chapter_wrapper3 .section2 .text_area p img{width: 29vw;}

.chapter_wrapper3 .section3 .bg{height:100%;background:url(../images/tablet/AO_site_03_cont3_bg_t.jpg) no-repeat 0 0/cover}
.chapter_wrapper3 .section3 .text_area h3{width:28.22vw;}
.chapter_wrapper3 .section3 .text_area h3 img{width:100%;}

/* indicator */
.indicator_wrap{right: 3.7%}
.indicator li img{display:none;}
.indicator li.on::before{display: none;}
.indicator li.on img{display: none;}

/* top button */
.btn_top{top: 85.67%;width: 4vw;}
.btn_top img{width:100%}

footer{left:7.32%;top: 5.07%;}

.popup_layer .popup_video{width:100%;min-height:33vh;}
.popup_layer .close_popup{left:auto;top:auto;right:0;bottom:100%;}

.btn_chapter_arrow{top:88.28%;width:4vw;height:4vw;background-size:100%}
.isDesktop .btn_chapter_arrow:hover{background-size:100%}
.btn_chapter_arrow.btn_chapter_prev{left: 7.32%;}
.btn_chapter_arrow.btn_chapter_next{right: 7.32%;}
.isDesktop .btn_chapter_arrow:hover{background-position-y: -6.45vw}

.btn_chapter_arrow img{top:13px;transform: scale(0.9);}
.btn_chapter_next img{right:97%;}
.btn_chapter_prev img{left:112%;}
}


@media (max-width:768px){

	.desktop{display: none;}
	.mobile{display: block;}

	.mobile{width:100%;height:100%;overflow: hidden;position: relative;}
	.mo_kv_wrapper{width:100%;height:100%;position:absolute;z-index: 12;}
	.mo_chapter{width:100%;height:33.3%;position:absolute;left:0;}
	.mo_chapter1{top:0;background: url(../images/mo/kv_ch1_bg.jpg) no-repeat center/cover;}
	.mo_chapter2{top:33.3%;background: url(../images/mo/kv_ch2_bg.jpg) no-repeat center/cover;}
	.mo_chapter3{top:66.6%;height:33.4%;background: url(../images/mo/kv_ch3_bg.jpg) no-repeat center/cover;}
	.mo_chapter .btn_chapter{display:block;width:100%;height:100%;position: relative;overflow: hidden;}
	.mo_chapter .obj{position: absolute;height:100%;}

	.mo_chapter1 .obj_line1{top:0;left:-45vw;transition:all 0.6s ease-in-out 0.2s;}
	.mo_chapter1 .obj_line2{top:0;left:100vw;transition:all 0.6s ease-in-out 0.4s;}
	.mo_chapter1 .obj_main{top:0;left:-63vw;transition:all 0.6s ease-in-out 0s;}
	.mo_chapter1 .obj_txt{top:0;left:100vw;transition:all 0.4s ease-in-out 1.6s;}
	
	.mo_chapter2 .obj_line1{top:0;left:-32vw;transition:all 0.6s ease-in-out 0.6s;}
	.mo_chapter2 .obj_line2{top:0;left:-32vw;transition:all 0.6s ease-in-out 0.8s;}
	.mo_chapter2 .obj_txt{top:0;left:-100vw;transition:all 0.4s ease-in-out 1.6s;}

	.mo_chapter3 .obj_line1{top:0;left:-27vw;transition:all 0.6s ease-in-out 1.0s;}
	.mo_chapter3 .obj_line2{top:0;left:-29vw;transition:all 0.6s ease-in-out 1.2s;}
	.mo_chapter3 .obj_main{top:0;left:100vw;transition:all 0.6s ease-in-out 0s;}
	.mo_chapter3 .obj_txt{top:0;left:100vw;transition:all 0.4s ease-in-out 1.6s;}

	.intro_on .mo_chapter1 .obj_line1{top:0;left:46.1vw;}
	.intro_on .mo_chapter1 .obj_line2{top:0;left:68.8vw;}
	.intro_on .mo_chapter1 .obj_main{top:0;left:33.1vw;}
	.intro_on .mo_chapter1 .obj_txt{top:0;left:0;}
	
	.intro_on .mo_chapter2 .obj_line1{top:0;left:0;}
	.intro_on .mo_chapter2 .obj_line2{top:0;left:67.7vw;}
	.intro_on .mo_chapter2 .obj_txt{top:0;left:0;}

	.intro_on .mo_chapter3 .obj_line1{top:0;left:10.4vw;}
	.intro_on .mo_chapter3 .obj_line2{top:0;left:34.5vw;}
	.intro_on .mo_chapter3 .obj_main{top:0;left:50%;transform: translateX(-50%);}
	.intro_on .mo_chapter3 .obj_txt{top:0;left:0;}

	.intro_off .mo_chapter{height:0;transition:height 0.4s ease 2s;}

	.swiper-wrapper{position:relative;z-index: 2;background: #aaa;}
	.swiper-pagination{width:0;height:0;overflow: hidden;}
	.btn_mo_sec{position: absolute;top:90%;width:7.82vw;height:7.82vw;overflow:hidden;text-indent:-400px;z-index: 3;}
	.btn_mo_sec_next{right:15.2vw;background:url(../images/mo/btn_section_next.png) no-repeat 0 0/100%;}
	.btn_mo_sec_prev{right:5.2vw;background:url(../images/mo/btn_section_prev.png) no-repeat 0 0/100%;}

	.mo_chapter_wrapper{position: absolute;left: 0;top:0;width:100vw;height:100%;background: #000;overflow: hidden;z-index: 1;}
	.mo_chapter_wrapper .mo_sec{width:100%;height:100%;position: relative;}
	.mo_chapter_wrapper .mo_sec p{position: absolute;left:0;text-align: center;}
	.mo_chapter_wrapper .mo_sec p img{width:90%;}
	.mo_chapter_wrapper.back{z-index: 1;}
	.mo_chapter_wrapper.front{z-index: 2;}
	.mo_chapter_wrapper .btn_play_con{position: absolute;left: 50%;transform: translateX(-50%);width: 48vw;}
	.mo_chapter_wrapper .btn_play_con img{width:100%;}

	.mo_chapter_wrapper1 .sec1{background: url(../images/mo/ch1_sec1_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper1 .sec1 .txt1{top:43.63%;}
	.mo_chapter_wrapper1 .sec2{background: url(../images/mo/ch1_sec2_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper1 .sec2 .txt1{top:21%;}
	.mo_chapter_wrapper1 .sec2 .txt2{top:38%;}
	.mo_chapter_wrapper1 .sec2 .btn_play_con{top: 59%;}
	.mo_chapter_wrapper1 .sec3{background: url(../images/mo/ch1_sec3_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper1 .sec3 p{top:16%}
	.mo_chapter_wrapper1 .sec3 .video_popup_list{position: absolute;top:43%;left:0;width:100%;}
	.mo_chapter_wrapper1 .sec3 .video_popup_list li{text-align: center;margin-bottom:1.46vh;}
	.mo_chapter_wrapper1 .sec3 .video_popup_list button{width:80vw;}
	.mo_chapter_wrapper1 .sec3 .video_popup_list button img{width:100%;}
	.mo_chapter_wrapper1 .sec4{background: url(../images/mo/ch1_sec4_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper1 .sec4 .txt{top:29.2%}
	.mo_chapter_wrapper1 .sec4 .btn_more{display: block;position: absolute;left: 30.2%;top: 37.92%;width: 39.58vw;height: 10.41vw;}
	.mo_chapter_wrapper1 .sec4 .btn_more img{width:100%}
	.mo_chapter_wrapper1 .sec4 .car{position: absolute;top: 56.88%;}

	.mo_chapter_wrapper2 .sec1{background: url(../images/mo/ch2_sec1_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper2 .sec1 .txt1{top:36.6%}

	.mo_chapter_wrapper2 .sec2{background: url(../images/mo/ch2_sec2_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper2 .sec2 .txt1{top:14%}
	.mo_chapter_wrapper2 .sec2 .txt2{top:38%}
	.mo_chapter_wrapper2 .sec2 .btn_play_con{top: 65%;}

	.mo_chapter_wrapper2 .sec3{background: url(../images/mo/ch2_sec3_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper2 .sec3 .txt1{top:29%}
	.mo_chapter_wrapper2 .sec3 .txt2{top:52%}

	.mo_chapter_wrapper2 .sec4{background: url(../images/mo/ch2_sec4_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper2 .sec4 .txt1{top:34%}
	.mo_chapter_wrapper2 .sec4 .txt2{top:49%}

	.mo_chapter_wrapper2 .sec5{background: url(../images/mo/ch2_sec5_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper2 .sec5 .txt1{top:29%}
	.mo_chapter_wrapper2 .sec5 .txt2{top:45%}

	.mo_chapter_wrapper2 .sec6{background: url(../images/mo/ch2_sec6_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper2 .sec6 .txt1{top:14%}
	.mo_chapter_wrapper2 .sec6 .txt2{top:29%}
	.mo_chapter_wrapper2 .sec6 .btn_play_con{top:67%;}

	.mo_chapter_wrapper3 .sec1{background: url(../images/mo/ch3_sec1_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper3 .sec1 .txt1{top:43%}

	.mo_chapter_wrapper3 .sec2{background: url(../images/mo/ch3_sec2_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper3 .sec2 .txt1{top:22.39%}
	.mo_chapter_wrapper3 .sec2 .txt2{top:37.95%}

	.mo_chapter_wrapper3 .sec3{background: url(../images/mo/ch3_sec3_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper3 .sec3 .txt1{top:26%}
	.mo_chapter_wrapper3 .sec3 .txt2{top:49%}

	.mo_chapter_wrapper3 .sec4{background: url(../images/mo/ch3_sec4_bg.jpg) no-repeat center/cover;}
	.mo_chapter_wrapper3 .sec4 .txt1{top:31%}
	.mo_chapter_wrapper3 .sec4 .txt2{top:54%}

	.mo_end{margin-top:-23vh;transition: margin 0.2s;}
	.mo_footer{position: absolute;left:0;bottom:0;width:100%;height:20vh;padding-top:3vh;background: #000;text-align: center;}
	.mo_footer a{display: block;margin-bottom:3vh;}
	.mo_footer a img{width:100%;}
	.mo_footer p{margin-bottom:1.8vh;}
	.mo_footer p img{width:100%;}
	.mo_footer .logo{width:16vw;}

	.btn_mo_menu{position: absolute;right:5.2vw;top:2.9%;width: 10.43vw;height: 10.43vw;z-index: 11;overflow:hidden;text-indent:-400px;background:url(../images/mo/btn_gnb_open.png) no-repeat 0 0/100%;}
	.mo_popup_layer{position: fixed;left:0;top:0;width:100vw;height:100%;background: rgba(0,0,0,0.9);z-index: 100;display: none;}
	.mo_popup_layer .btn_close_popup{position: absolute;right:5.2vw;top:5.2vw;}
	.mo_popup_layer .btn_close_popup img{width:10.4vw;}
	.mo_popup_layer .mo_menu{padding-top:33%;text-align: center;}
	.mo_popup_layer .mo_chapter_link{display: block;margin-bottom:3%;}
	.mo_popup_layer .mo_chapter_link img{width:100%;}
	.mo_popup_layer .mo_home_link{position: absolute;left:0;bottom:3%;text-align: center;}
	.mo_popup_layer .mo_home_link img{width:100%;}

	.popup_layer .popup_video{width:100%;height:auto;}
	.popup_layer .close_popup{left:auto;top:auto;right:0;bottom:100%;}
	.popup_layer iframe{width:100%;height:100%;min-height:33vh;}

}
@media (max-height:1024px) and (min-width:767px){
	.mo_popup_layer .mo_chapter_link img{width:80%;}
	.mo_popup_layer .mo_home_link img{width:80%;}
	.mo_chapter_wrapper .mo_sec p img{width:80%;}
	.mo_chapter_wrapper .btn_play_con img{width:80%;}
	.mo_chapter_wrapper1 .sec3 .video_popup_list button img{width:80%;}
	.mo_footer a img{width:80%;}
	.mo_footer p img{width:80%;}
	.mo_footer .logo{width:12vw;}

}